@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Italiana&family=Lobster&family=Roboto:wght@300;700&display=swap");

body {
  line-height: 1.5;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  background-color: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: "lobster";
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 18px;
}

h2 {
  margin: 0;
  letter-spacing: 1px;
  font-size: 21px;
  font-weight: normal;
}
